<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <center>
    <br>
    <br>
    <ion-img src ="assets\images\n11.jpg"></ion-img>
    <h1><strong>Norie Cabazares</strong></h1>
    <p>Studying at Eastern Visayas State University- Carigara Campus</p>
    <p>From Leyte, Philipines</p>
    <p>taken.....taken for granted</p>
    <h1><strong>See more about Norie Cabazares</strong></h1>

  </center>


</ion-content>
