<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    CONTACTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-img src ="assets\images\n11.jpg"></ion-img>
  <strong>Norie Cabazares</strong>
  <p>09385643723</p>
  <p>nomeo@gmail.com</p><ion-img src ="assets\images\n5.jpg"></ion-img>
  <strong>Donna Salinasan</strong>
  <p>09384563221</p>
  <p>donna@gmail.com</p>
  <ion-img src ="assets\images\n3.jpg"></ion-img>
  <strong>Maryann Martinez</strong>
  <p>09092343562</p>
  <p>annyong@gmail.com</p>


  
</ion-content>
